<% if @user.errors.any? %>
  <%= @user.errors.count %>error prohibited this obj from being saved:
  <ul>
    <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="box2">
  <h2>User info</h2>

   <%= form_with model: @user do |f| %>

    <h4>Name</h5>
    <%= f.text_field :name %>
    <h5>Image</h5>
    <%= f.file_field :profile_image %>
    <h5>Introduction</h5>
    <%= f.text_area :introduction %>

    <%= f.submit "Update User" %>
  <% end %>
</div>